<script>
row_queue = [];
  
(function(){
  function handleResize()
  {
//     var height = self.innerHeight - $('#logtable').offset().top - 20;
//     $('#logtable').height(height + 'px');
  }
  
  
  
  function update_page() {
    $.ajax({
      dataType: 'script',
      type: 'GET',
      url: '/',
      data: { lastid: lastid },
      complete: function() {
      }
    });
  };
    
  
  $(window).bind('resize', handleResize);
  
  lastid = 0;
  
  $(document).ready(function() {
    handleResize();
    
    update_page();
    
    window.setInterval(update_page, 5000);
    
    window.setInterval(function () {
      var row = row_queue.shift();
      if(!row) return;
      
      $(row)
      .prependTo($('#logtable > tbody'))
      .find('td')
      .wrapInner('<div style="display: none;" />')
      .parent()
      .find('td > div')
      .slideDown({
        duration: 700,
        queue: true,
        complete: function(){
          var $set = $(this);
          $set.replaceWith($set.contents());
          
          var rows = $("#logtable").find('tr');
          if(rows.size() > (50+1)) {
            rows.slice(-1).fadeOut({
              complete: function() {
                $(this).remove();
              }
            });
          }
        }
      });
    }, 1000);
  });
})();
</script>
<section>
    <div id='map'><img src="fielddaymap.png"/></div>
</section>
<section class='container'>
    <div id='logs'>
        <h3>Logs</h3>
        <table id='logtable'>
            <thead><tr>
                <th id='log_time_col'>Time</th>
                <th id='log_station_col'>Station</th>
                <th id='log_band_col'>Band</th>
                <th id='log_mode_col'>Mode</th>
                <th id='log_callsign_col'>Callsign</th>
                <th id='log_section_col'>Section</th>
                <th id='log_points_col'>Points</th>
            </tr></thead>
            <tbody></tbody>
        </table>
    </div>
    <div id='score'>
        <h3>Score</h3>
        <table id='scoretable'>
            <thead><tr>
                <th id='score_band_col'>Band</th>
                <th id='score_ssb_col'>SSB</th>
                <th id='score_cw_col'>CW</th>
                <th id='score_dig_col'>Digital</th>
                <th id='score_total_col'>Total</th>
                <th id='score_points_col'>Points</th>
            </tr></thead>
            <tbody></tbody>
        </table>
    </div>
    <div id='freqs'>
        <h3>Frequencies</h3>
        <table id='rigtable'>
            <thead><tr>
                <th id='rig_station_col'>Station</th>
                <th id='rig_freq_col'>Transmit Frequency</th>
                <th id='rig_mode_col'>Mode</th>
            </tr></thead>
            <tbody></tbody>
        </table>
    </div>
</section>